{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:main-opts ["-m" "kaocha.runner"]
                  :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                               lambdaisland/kaocha {:mvn/version "1.71.1119"}
                               lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}
                  :extra-paths ["test"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}
           :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.2"
                                                            :git/sha "0ffdb4c"}
                          borkdude/gh-release-artifact {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                        :sha "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}
                          babashka/babashka.curl {:mvn/version "0.1.1"}
                          babashka/fs {:mvn/version "0.1.2"}
                          cheshire/cheshire {:mvn/version "5.10.2"}}
                   :ns-default build}
           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}}
 :paths ["src"]}
